{% extends 'main/all.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
    <div class="zagolovok">
        
    </div>
        <div class="d-flex align-items-start justify-content-between p-5">
            <div class="br1">
                <div>
                    <h1>О нас</h1>
                    <h2>Точнее обо мне</h2>
                    Всем привет! Сегодня я хочу рассказать вам свою мини-историю из моей жизни. Мне 22 года, сам я из города Павлодар. Переехал в Алматы совсем недавно, сразу же после окончания университета. По образованию я филолог русского языка, обстоятельства так сложились что в 11 классе, я поступил на этот факультет, так как очень любил писать стихи и просто обожал классическую литературу (Гоголь, Достоевский, Есенин, Толстой). <br>
                    <br>
                    После 2 курса я понял что это не моё, но боялся потерять время и грант на котором я учился, поэтому закончил универ через муки и страданья.😢<br>
                    <br>
                    В июне я получил диплом👨🏻‍🎓 и сражу же переехал в город который мне очень понравился, в Алматы 🏞. Все лето я ещё не знал где мне работать, поэтому откликался на «всяческие» вакансии, это в силу того что это была моя первая официальная работа… Было небольшое желание работать в SMM, но никто не хотел брать меня без опыта, а курсы были мне не по карману. После долгих поисков работы в hh, я решил пойти по специальности, учителем русского языка и литературы 👨🏻‍🏫. И я устроился в школу🏫. <br>
                    <br>
                    Мне нравилось преподавать детям, но спустя время я понял что это не моё… Причин было много, я всегда хотел чтоб учитель и ученик были на равне, я не хотел быть учителем который заставляет «зубрить», я хотел быть другом с учениками, но администрация говорила работать по правилам. Так же одной из причин были не нужные документации, которые я заполнял каждый день, это была рутина, а не работа . <br>
                    <br>
                </div>
            </div>  
            
            <div class="br2--holder">
                <div class="br2">
                    <img src="https://lh3.googleusercontent.com/Y9YAXdA2KpQfU1lVMtLwV4HvACIKFUoVyRW__QKslHpj3Y0CeUYiQ7OcX8eUhnQGt_t1Vw=s85" alt="" class="img1">
                    <p>Аймагамбетов Ильяс</p>
                    <p>Python Developer(Django)</p>
                </div>
                <div class="br3">
                    8 месяцев мне хватило времени, чтобы понять что это не моё. И тут я открыл для себя неожиданно Python , я никогда не увлекался подобным , но вдруг меня заинтересовал этот язык, можно сказать что он более увлекательнее чем русский язык😄 Я изучил бесплатные материалы, и сразу же купил курсы Python Developer. И со всем скоро стану дипломированным разработчиком🧑🏻‍💻 <br>
                    <br>
                    Да в данный момент я только изучаю 🐍, но думаю со всем скоро я буду писать сайты и приложения на нём. <br>
                    <br>
                    Знаете я впервые чувствую такое, я будто изучаю то, что мне не хватало все эти годы, каждый день я открываю для себя много интересного. Можно сказать я прошёл этап «Из грязи в князи»😌
                    <br><br>
                    Если вы дочитали это до конца, благодарю вас☺️
                    <br><br>
                    Резюме:
                    HH:https://lnkd.in/edSpBhs8
                    Git-hub: https://lnkd.in/etRBb7WC
                    LinkedIn: https://lnkd.in/eEDcfTtZ
                    <br><br>
                    +77479109825
                </div>

            </div>
        </div>     
    
{% endblock %}