{% extends 'main/all.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
    <div class="features">
        <h1>Как нас найти?</h1>
        
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3456.307741064866!2d76.92655674868625!3d43.24310522039772!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38836ecf9c98ee57%3A0x2c7357b2a7cd79f5!2z0YPQuy4g0JrQsNGI0LPQsNGA0YHQutCw0Y8gNSwg0JDQu9C80LDRgtGLIDA1MDAwMA!5e0!3m2!1sru!2skz!4v1657904960813!5m2!1sru!2skz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map"></iframe> <br>
        <br>
        <h4>Или вы можете связаться с нами</h4>
        <p>Сделайте обратную связь при помощи:</p>
        <ul>
            <button class="btn btn-success"><i class="bi bi-whatsapp"></i> What's up</button>
            <button class="btn btn-success"><i class="bi bi-telegram"></i> Telegram</button>
            <button class="btn btn-success"><i class="bi bi-envelope"></i> Gmail</button>
            <button class="btn btn-success"><i class="bi bi-telephone-outbound"></i> Перезвонить</button>
        </ul>
        

    </div>
{% endblock %}