{% extends 'main/all.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>На нашем сайте можно постить и смотреть новости всего мира. Так же у нас есть конвертер валют! Но сначала тебе надо зарегистрироваться или войти.</p>
        <a href="{% url 'account_login'%}">
            <button type="button" class="btn btn-outline-primary">Войти</button></a>
        <a href="{% url 'account_signup' %}">
            <button type="button" class="btn btn-outline-success"> Регистрация</button></a>
                

    </div>
{% endblock %}